body{
    background-color: darkcyan;
}
h1{
    color:peachpuff;
    text-align: center;
    font-size: 50px;
}
button {
    margin: 20px auto;
    width: 250px;
    height: 100px;
    font-size: 30px;
    display: block;

}

.base{
    margin: auto;
    width: 800px;
    font-size: 25px;
    color: antiquewhite;
    font-weight: 600;
    border: 3px peachpuff solid;
    background-color: #0f6372dc;
}
/* why is the colour only affecting the printed songs and nothing more */

.goback{
    background-color: aliceblue;
    height: 40px;
    width:200px;
    margin: auto;
    text-align: center;
    padding: 5px 5px;
    font-size: 30px;
    
}
.goback a{
    text-decoration: none;
    color:black;
    font-weight: 400;
}

button.addpage{
    height: 40px;
    width:200px;
}
form.addsong{
    margin-top: 50px;
    
}
.addsong input{
    margin: auto;
    width: 500px;
    height: 100px;
    text-align: center;
    display: block;
    font-size: 25px;
}
.addsong label{
    margin: auto;
    width: 500px;
    height: 100px;
    text-align: center;
    display: block;
    font-size: 35px;
}



@media only screen and (max-width: 600px) {
    .base,
    .addsong input, 
    .addsong label {
        width:50%;

    }
    button,
    button.addpage,
    .goback {
        width: 150px;
    }
  }
  @media only screen and (max-width: 300px) {
    .base,
    .addsong input, 
    .addsong label {
        width:50%;

    }
    button,
    button.addpage,
    .goback {
        width: 50px;
    }
    ul li a{
        font-size: 10px;
    }
  }